<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Register a Raiding Team</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <form (ngSubmit)="submitForm()" #form="ngForm">
            <!-- name -->
            <div class="field">
                <label class="label">Team Name</label>
                <input
                    type="text"
                    name="name"
                    class="input"
                    [(ngModel)]="name" 
                    #nameInput="ngModel"
                    required
                    />
                <div class="help is-error" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                    Your team needs a name.
                </div>
            </div>

            <!-- name -->
            <div class="field">
                <label class="label">Home Server</label>
                <input
                    type="text"
                    name="server"
                    class="input"
                    [(ngModel)]="server" 
                    #serverInput="ngModel"
                    required
                    />
                <div class="help is-error" *ngIf="serverInput.invalid && (serverInput.dirty || serverInput.touched)">
                    The server your team is based on.
                </div>
            </div>

            <!-- name -->
            <div class="field">
                <label class="label">Friendly ID</label>
                <input
                    type="text"
                    name="friendlyId"
                    class="input"
                    [(ngModel)]="friendlyId" 
                    #friendlyIdInput="ngModel"
                    required
                    />
                <div class="help is-error" *ngIf="friendlyIdInput.invalid && (friendlyIdInput.dirty || friendlyIdInput.touched)">
                    A URL-friendly ID for your team. Only letters and dashes please! For example "botany-bay-aotc"
                </div>
            </div>

            <!-- submit button -->
            <button
                type="submit"
                class="button is-large is-warning"
                [disabled]="form.invalid || !enabled">Send!</button>
        </form>
    </div>
</section>
