<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="conatiner">
            <h1 class="title">Contact Us!</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <!-- name -->
            <div class="field">
                <label class="label">name</label>
                <input
                    type="text"
                    name="name"
                    class="input"
                    [(ngModel)]="name" 
                    #nameInput="ngModel"
                    required
                    />
                <div class="help is-error" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                    Your name is required.
                </div>
            </div>

            <!-- email -->
            <div class="field">
                <label class="label">email</label>
                <input
                    type="text"
                    name="email"
                    class="input"
                    [(ngModel)]="email"
                    #emailInput="ngModel"
                    required
                    email />
                <div class="help is-error" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                    Enak is required and needs to be a valid email.
                </div>
            </div>
            
            <!-- message -->
            <div class="field">
                <label class="label">message</label>
                <input type="textarea" name="message" class="input" [(ngModel)]="message" />
            </div>

            <!-- submit button -->
            <button
                type="submit"
                class="button is-large is-warning"
                [disabled]="contactForm.invalid">Send!</button>
        </form>
    </div>
</section>
