<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">Average Item Level over Time</h2>
        <div class="block">
            <div>
                <div>
                    <div style="display: block">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>