<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">Great Companies that already use PiperNet</h2>
        <div class="block"><a href="#">
            <div>
                <div>
                    <div style="display: block">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                    </div>
                </div>
            </div>
        </a></div>
        <div class="columns is-mobile">
            <div class="column is-3"><a href="#"><img
                        src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3"><a href="#"><img
                        src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3"><a href="#"><img
                        src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3"><a href="#"><img
                        src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
        </div>
        <h4 class="title is-spaced is-4">Client: K-Hole</h4>
        <p class="subtitle">We are constantly looking for new partners to migrate onto the Piper Net. The future of the
            internet is here - venture towards it with Pied Piper!</p>
    </div>
</section>