<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">{{teamMember.name}} - {{teamMember.server}}</h2>
        <div class="columns is-vcentered">
            <div class="column">
                <h2 class="title is-spaced">Role</h2>
                <p class="subtitle">{{roleName}}</p>
                <hr>
                <h2 class="title is-spaced">Class</h2>
                <p class="subtitle">{{className}}</p>
                <hr>
                <h2 class="title is-spaced">Item Level</h2>
                <p class="subtitle">{{averageItemLevel | number : '1.1-1'}}</p>
            </div>
            <div class="column"><img src="{{backgroundImageUrl}}" alt="Character backdrop">
            </div>
        </div>
        <hr>
    </div>
</section>