<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Raiding Team</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline" *ngIf="teamMembers">
            <div class="column is-4" *ngFor="let teamMember of teamMembers">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="http://render-us.worldofwarcraft.com/character/{{teamMember.characterData.thumbnail}}" alt="{{teamMember.name}}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{teamMember.name}}</p>
                                <p class="subtitle is-6">{{teamMember.server}}</p>
                            </div>
                        </div>
                  
                        <div class="content">
                            <span class="icon is-small"><i class="fas fa-user-shield"></i></span>  {{teamMember.characterData.items.averageItemLevelEquipped | number : '1.1-1'}}<br>
                            <span class="icon is-small"><i class="fas fa-heart"></i></span> 
                            {{teamMember.characterData.items.neck.itemLevel}}<br>
                        
                            <div class="tabs is-toggle is-toggle-rounded">
                                <ul>
                                <li *ngIf="supportsRole(teamMember, 'tank')" [className]="getButtonState(teamMember, 'tank')">
                                    <a (click)="setRole(teamMember, 'tank')">
                                    <span>Tank</span>
                                    </a>
                                </li>
                                <li li *ngIf="supportsRole(teamMember, 'healer')" [className]="getButtonState(teamMember, 'healer')">
                                    <a (click)="setRole(teamMember, 'healer')">
                                    <span>Healer</span>
                                    </a>
                                </li>

                                <li li *ngIf="supportsRole(teamMember, 'rdps')" [className]="getButtonState(teamMember, 'rdps')">
                                    <a (click)="setRole(teamMember, 'rdps')">
                                    <span>RDPS</span>
                                    </a>
                                </li>
                                <li li *ngIf="supportsRole(teamMember, 'mdps')" [className]="getButtonState(teamMember, 'mdps')">
                                    <a (click)="setRole(teamMember, 'mdps')">
                                    <span>MDPS</span>
                                    </a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Edit</a>
                        <a class="card-footer-item" (click)="deleteTeamMember(teamMember)">Delete</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>