<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Raiding Team</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline" *ngIf="teamMembers">
            <div class="column is-4" *ngFor="let teamMember of teamMembers">
                <div class="card">
                    <a routerLink="/raid-teams/{{raidTeamId}}/team-members/{{teamMember.id}}">
                        <div class="card-content">
                            <h1>{{ teamMember.name }}</h1>
                            <h3>{{ teamMember.server }}</h3>
                            <h3 *ngIf="teamMember.characterData">{{ teamMember.characterData.items.averageItemLevelEquipped }}</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>